.modernizr_touchevents {

  .event-item {
    min-height: 32px;
  }

}

.event-item {
  min-height: 27px;

  &_text {
    cursor: pointer;
    flex: 1;

    &:hover {
      text-decoration: underline;
    }
  }

  .close {
    float: none;
  }

  .close-confirm {

    button {
      border-radius: 0px;
    }
  }

}
