.modernizr_touchevents {

  .close-confirm {
    padding: 2.5px;
  }

}

.event-item {
  min-height: 36px;
  padding: 4px;

  &_text {
    cursor: pointer;
    flex: 1;

    &:hover {
      text-decoration: underline;
    }
  }

  .close {
    float: none;
  }

}
