#info-btn {
  position: fixed;
  height: 25px;
  width: 25px;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
  margin: 10px;
  border-radius: 50%;
  border: 2px solid $grey-900;
  font-weight: 600;
  line-height: 140%;
}

#info {
  position: fixed;
  padding: 8px;
  width: 100%;
  left: 0px;
  bottom: 0px;
  opacity: 0.8;
  background-color: $grey-600;
  color: $white;

  .close {
    color: $white;
    margin-right: 5px;
  }

  a {
    color: $white;
  }
}

.event-item:not(:last-child) {
  border-bottom: 1px solid $grey-300;
}
